<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of articles</title>
</head>
<body>
    <h2>Number of articles: <%= @articles.length %></h2>
    <h2>List of articles:<br></h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @articles.each do |article| %>
            <tr>
                <td> <%= article.title %> </td>
                <td> <%= article.desc %> </td>
                <td>Actions</td>
            </tr>
            <% end %>
        </tbody>
    </table>
</body>
</html>