
<div class="container">
  <div class="p-5 mb-4 rounded-3 text-center text-white" id="home-container">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Simple Blog (RoR)</h1>
      <p class="fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <%= button_to 'Sign up', signup_path, method: :get, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

