html,
body {
    height: 100%;
    background-color: lightgray;
}

.navbar {

    background-color: #000000 !important;

}

.nav-link {
    color: white !important;
}

#nav-logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 2em;
    background-image: url("home-jumbo-bg.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
}

#page-content {
    flex: 1 0 auto;
}

.sticky-bottom {
    flex-shrink: none;
}

.button_to {
    display: inline;
}
