<footer>
  <div class="sticky-bottom py-4 bg-dark text-white">
    <div class="container text-center">
      This blog was built purely for educational purposes by <%= link_to "Sathwik Kallapur", "https://github.com/7wik-pk", class: "text-white" %>.
    </div>
  </div>
</footer>
